.blog_body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faffff;
}

.blog_container {
    display: grid;
    width: 80%;
    height: 100px;
    margin: auto;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 130px 130px 400px 40px;
    grid-template-areas: 
    "hd hd"
    "bio feat"
    "bio main"
    "ft icon";
}

.blog_header {
    display: flex;
    grid-area: hd;
    color: aliceblue;
    background-color: #778899;
    align-items: center;
}

.blog_sidebar {
    display: flex;
    flex-direction: row;
    grid-area: bio;
    background-color: #dcdcdc;
}

.blog_feature {
    display: inline-block;
    grid-area: feat;
    padding-top: 10px;
    background-color: #dcdcdc;
}

.blog_content {
     display: inline-flex;
    flex-direction: column;
    grid-area: main;
    background-color: #f5f5f5;
    padding: 15px;
}

.blog_footer {
    display: flex;
    grid-area: ft;
    flex-wrap: nowrap;
    background-color: #606c76;
    align-items: center;
    padding-left: 10px;
}

.blog_footer a {
    color: aliceblue;
}

.blog_icons {
    display: flex;
    grid-area: icon;
    background-color: #606c76;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 10px;
}

.blog_box {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid #778899;
    padding-top: 10px;
    padding-left: 10px;
}
*/