body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faffff;
}

.container {
    display: grid;
    width: 80vw;
    height: auto;
    margin-top: 150px;
    margin: auto;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 75px 55px 100px 1fr;
    grid-template-areas: 
        "hd hd"
        "nav nav"
        "bio main"
        "bio main"
        "ft ft";
}

.header {
    display: flex;
    grid-area: hd;
    background-color: #778899;
    color: aliceblue;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    justify-content: center;
}

.nav {
    display: inline-flex;
    flex-wrap: wrap;
    grid-area: nav;
    padding-top: 0;
    background-color: gray;
}

.content {
    display: inline-flex;
    grid-area: main;
    max-width: 100%;
}

.content img {
    width: 100%;
    height: 100%;
}

.box {
    overflow: auto;
    border: 1px solid #778899;
}

.nav_btn {
    margin: 1px;
    width: 200px;
    font-size: 20px;
    color: black;
    border: none;
}

.nav_btn:hover {
    background-color: white;
    color: black;
}

.bio_btn {
    background-color: steelblue;
    color:aliceblue;
    width: 200px;
}

.bio_btn:hover {
    background-color: aliceblue;
    color: black;
}

a, a:active, :visited {
    text-decoration: none;
    color: #778899;
}

a:hover {
    color: black;
}

footer {
    display: flex;
    grid-area: ft;
    background-color: #606c76;
    color: white;
    padding: 10px;
}